.bus-info {
  &__top {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    &-filter {
      display: flex;
      align-items: center;
      column-gap: 10px;
      width: 60%;
      p {
        width: 20%;
      }
    }
    &--add {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;
      font-size: 16px;
    }
    &--add {
      background: #0072ff;
      border: 1px solid #0072ff;
      width: 200px;
      color: #fff;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #0072ff !important;
        background: #fff;
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: end;
    column-gap: 10px;
  }
  table {
    width: 100%;
    text-align: left;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    margin: 30px 0 0;
  }
  thead {
    color: #4e73df;
    background: aliceblue;
  }
  tr {
    height: 42px;
  }
  th,
  td {
    padding: 0 0 0 20px;
    border-bottom: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
  }
  &__pagination {
    margin: 30px 0 0;
    display: flex;
    justify-content: center;
  }
}
