.manage-user {
  &__top {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    &--add,
    &--chair {
      width: 190px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;
      font-size: 16px;
      background: #0072ff;
      border: 1px solid #0072ff;
      color: #fff;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #0072ff !important;
        background: #fff;
      }
    }
  }
  table {
    width: 100%;
    text-align: left;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    margin: 30px 0 0;
  }
  thead {
    color: #4e73df;
    background: aliceblue;
  }
  tr {
    height: 42px;
  }
  th,
  td {
    padding: 0 0 0 20px;
    border-bottom: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
  }
  &__modal {
    &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
    &__item {
      margin: 0 0 10px;
      p {
        font-weight: 600;
        margin: 0 0 8px 0;
      }
    }
    &__btn {
      display: flex;
      justify-content: end;
      column-gap: 10px;
    }
  }
}

.manage-user__top__item {
  display: flex;
  column-gap: 10px;
  align-items: center;
  p {
    font-weight: 600;
  }
}
