.booking {
  max-width: 936px;
  width: 100%;
  margin: auto;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .booking {
    max-width: 700px;
  }
}

@media screen and (max-width: 425px) {
  .booking {
    max-width: 400px;
  }
}
